<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" style="text-align: center; width: 100%;"
    >Blockchain Application (ETH) With Web3</a
  >
  <button type="button" class="btn btn-danger btn-sm" *ngIf="isAccountCreated" (click)="clear()">Clear</button>
</nav>

<div class="container h-100 mt-200" *ngIf="!isAccountCreated">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 text-center">
      <h1>Please Create Account To Start Transactions</h1>
      <button type="button" class="btn btn-primary" (click)="createAccount()">
        Create Account
      </button>
    </div>
  </div>
</div>

<div class="container" *ngIf="isAccountCreated">
  <div class="row" *ngIf="accountDetails">
    <div class="col-8">
      <div class="alert alert-success" role="alert">
        <p class="font-weight-bold">Account Details</p>
        <p>Address: {{ accountDetails?.address }}</p>
        <p>Private Key: {{ accountDetails?.privateKey }}</p>
      </div>
    </div>
    <div class="col-4">
      <div class="alert alert-info" role="alert">
        <p class="font-weight-bold">Account Balance:</p>
        <h4>1 <span class="font-weight-bold">ETH</span></h4>
      </div>
    </div>
  </div>
</div>
